/* change map font */
.ol-viewport {
    font-family: Helvetica, Arial, sans-serif;
}


/* re-position default buttons */
.ol-full-screen {
    left: .5em;
    top: 4.5em;
}

.ol-attribution {
    top: .5em;
}

.ol-attribution:not(.ol-collapsed) {
    background: transparent;
}


/* control style */
.ol-control {
    background-color: transparent;
}

.ol-control:hover {
    background-color: transparent;
}

.ol-control:focus {
    background-color: transparent;
}

.ol-control button {
    background-color: transparent;
    color: black;
}

.ol-control button:hover {
    background-color: transparent;
    cursor: pointer;
}

.ol-control button:focus {
    background-color: transparent;
}
